<script type="text/javascript" charset="utf-8">
  if (typeof jQuery == 'undefined') {
    var jquery_url = '/__rack_bug__/jquery-1.3.2.js';
    document.write(unescape('%3Cscript src="' + jquery_url + '" type="text/javascript"%3E%3C/script%3E'));
  }
</script>
<script type="text/javascript" src="/__rack_bug__/bug.js"></script>
<style type="text/css" media="screen">
  @import url(/__rack_bug__/bug.css);
</style>

<div id="rack_bug" class="rack_bug_error">
  <div id="rack_bug_toolbar">
    <p>There was an error within Rack::Bug!</p>
  </div>
</div>
