<html>
<head>
</head>
<body>
  <h1>Redirect</h1>

  <p>Location: <a href="<%= redirect_to %>"><%= redirect_to %></a></p>

  <p class="notice">
    Rack::Bug has intercepted a redirect to the above URL for debug viewing
    purposes. You can click the above link to continue with the redirect as
    normal. If you'd like to disable this feature, set the Rack::Bug
    <code>internal_redirects</code> option to <code>false</code>.
  </p>
</body>
</html>
