<a style="display: block; position: absolute; left:0; top: 0" href="javascript: (function(){var script=document.createElement('script'); script.src='/__insight__/bookmarklet.js'; document.getElementsByTagName('head')[0].appendChild(script); document.insightEnable()})()">Insight</a>
