var jquery_url = '/__insight__/jquery-1.3.2.js';
document.write(unescape('%3Cscript src="' + jquery_url + '" type="text/javascript"%3E%3C/script%3E'));
}
</script>
<script type="text/javascript" src="/__insight__/bug.js"></script>
<style type="text/css" media="screen">
  @import url(/__insight__/bug.css);
</style>

<div id="insight" class="insight_error">
  <div id="insight_toolbar">
  </div>
