<h3>ActiveRecord Objects</h3>
<table class="sortable">
  <thead>
    <tr>
      <th>Count</th>
      <th>Class</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |class_name, count| %>
      <tr>
        <td><%= count %></td>
        <td><%= class_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>