<h3>Cache Usage</h3>
<table>
  <colgroup>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
  </colgroup>
  <tr>
    <th>Total Calls</th>
    <td><%= @cache_calls %></td>
    <th>Total Time</th>
    <td><%= @cache_time %>ms</td>
    <th>Hits</th>
    <td>{{ cache.hits }}</td>
    <th>Misses</th>
    <td>{{ cache.misses }}</td>
  </tr>
  <tr>
    <th>gets</th>
    <td>{{ cache.gets }}</td>
    <th>sets</th>
    <td>{{ cache.sets }}</td>
    <th>deletes</th>
    <td>{{ cache.deletes }}</td>
    <th>get_many</th>
    <td>{{ cache.get_many }}</td>
  </tr>
</table>