<table class="req">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
      <% @env.sort_by { |k, v| k.to_s }.each do |key, val| %>
      <tr>
        <td><%=h key %></td>
        <td class="code"><div><%=h val %></div></td>
      </tr>
      <% end %>
  </tbody>
</table>