<h3>Log Messages</h3>
<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Time</th>
      <th>Message</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% logs.each do |log| %>
      <tr class="<%= i % 2 == 0 ? "even" : "odd" %>">
        <td></td>
        <td></td>
        <td><%= log.to_s.gsub(/\e\[[;\d]+m/, "") %></td>
        <td></td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>