<h3>Rails Environment</h3>
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% Rails::Info.properties.each do |key, val| %>
      <tr class="<%= i % 2 == 0 ? "even" : "odd" %>">
        <td><%=h key %></td>
        <td class="code"><div><%=h val %></div></td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>