<h3>Resource Usage</h3>
<table class="sortable">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% measurements.each do |key, val| %>
      <tr class="<%= i % 2 == 0 ? "even" : "odd" %>">
        <td><%=h key %></td>
        <td><%=h val %></td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>