<style type="text/css" media="screen">
  @import url(/__insight__/insight.css);
</style>
<script>
  var insightRequestId = <%= request_id %>;
</script>

<div id="rack-insight" class="rack-insight_top">
  <div id="rack-insight_toolbar">
    <ul class="panels">
      <%= headers_fragment %>
    </ul>
  </div>

  <%= request_fragment %>

  <div id="rack-insight_debug_window" class="panel_content"></div>
</div>
