<h3>StarTrek Panel!</h3>
<table id="StarTrek">
  <thead>
    <tr>
      <th>
        <%= stats[:ship] %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= stats[:captain] %>
      </td>
    </tr>
  </tbody>
</table>
