<div class="traceblock">
  <%=operation['label']%> - <%=range['duration']%>ms (self: <%=self_time%>ms)
<% unless children.empty? %>
  <ul>
    <% children.each do |child|%>
      <li><%=child.to_html%></li>
    <%end%>
  </ul>
<% end %>
</div>
